{% extends "base.html" %}

{% block title %}Clasificaciones de la NBA{% endblock %}

{% block style %}
    <style>
        /* Estilos personalizados */
        body {
            /* Fondo de la página */
            background: url('../static/images/background_plain.webp') no-repeat center center fixed; 
            background-size: cover; 
        }
        .container {
            padding-top: 10vh;
        }
        .btn-custom {
            margin: 10px;
        }
        .imagen-centrada {
            /* Imagen central */
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            width: 38%;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 70px; /* Altura del footer */
}
    </style>
{% endblock %}

<!-- Título y descripción de la página -->
{% block header %}Clasificaciones de la NBA &#127936;{% endblock %}
{% block description %}¿Son realmente justas?  &#9878;{% endblock %}

{% block content %}
    <div class="container text-center">

        <!-- Introducción -->
        <div class="mx-auto" style="max-width: 60%; text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <h4 data-aos="fade-up">Descubre una nueva perspectiva para la clasificación en la NBA basada en el teorema matemático de Perron-Frobenius</h4>
        </div>

        <!-- Imagen -->
        <img src="../static/images/basket_index.webp" class="imagen-centrada img-fluid" alt="Imagen descriptiva" data-aos="zoom-in">  
        
        <!-- Botones de navegación -->
        <div>
            <a href="explanation" class="btn btn-light btn-custom" data-aos="fade-right">Explicación del problema</a>
            <a href="classifications" class="btn btn-dark btn-custom" data-aos="fade-left">Comparación de Clasificaciones</a>
        </div>
        
    </div>
{% endblock %}